@import "tailwindcss";
/* Matnni o‘ngdan chapga yugurtiradigan animatsiya */
@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.marquee-track {
  animation: marquee 15s linear infinite;
}





@keyframes bounce-slow {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-14px);
  }
}

.animate-bounce-slow {
  animation: bounce-slow 3s ease-in-out infinite;
}


/* 🚀 Rocket auto animation (glow + rotate + scale) */
@keyframes rocketMove {
  0% {
    transform: scale(1) rotate(50deg);
    filter: drop-shadow(0 0 0px #ff9900);
  }
  50% {
    transform: scale(1.1) rotate(0deg);
    filter: drop-shadow(0 0 12px #ff6600);
  }
  100% {
    transform: scale(1) rotate(50deg);
    filter: drop-shadow(0 0 0px #ff9900);
  }
}

.animate-rocketMove {
  animation: rocketMove 1.5s ease-in-out infinite;
}
